body{
    width: 700px;
    margin: auto;

}


header{
    padding: 5px; 
    margin: 10px;
    background-color: #593eda;
    border-radius: 5px;
    border-color: #bfbfbf;
    border-style: double;
    font-family: century gothic;
    color:  white;
    text-align: right;
}

header a{
    color:  white;
    font-size: smaller;
}

p{
    line-height: 22px;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 100px;
    margin: 3px 0px 0px 0px;
}

form input , select{
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

.error {
    color: #f82727;
    font-size: 20px;
}

table {
    width: 100%;
}

